.advantages__wrapper {
  padding: 0;
}

.advantages__slogan {
  margin: 0 auto;
  padding: 35px 30px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  max-width: 480px;

  @media (min-width: $tablet-width) {
    width: 490px;
    padding-top: 48px;
    padding-bottom: 28px;
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 65px;
  }
}

.advantages__reasons {
  margin: 0;
  padding: 0 30px 32px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 46px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px 32px;
  text-align: center;
  background-color: $advantages-color;

  @media (min-width: $tablet-width) {
    padding: 43px 40px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 64px;
  }

  &--accent {
    padding: 0;
    color: $white-color;
    background: $primary-back-color;

    @media (min-width: $tablet-width) {
      grid-column: 1/4;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &--decor {
    position: relative;
    padding-top: 20px;

    &::before {
      content: "";
      width: 100%;
      height: 37px;
      position: absolute;
      top: 0;
      left: 0;
      margin-top: -1px;
      background-color: $white-color;
      clip-path: polygon(0 0, 100% 0, 100% 18%, 50% 60%, 0 18%);

      @media (min-width: $tablet-width) {
        content: none;
      }
    }

    @media (min-width: $tablet-width) {
      padding-top: 0;
    }
  }

  &--quality {
    position: relative;
    padding: 22px 0 0 45px;
    text-align: start;
    color: $secondary-color;
    background-color: $white-color;

    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 0;

      @media (min-width: $tablet-width) {
        top: 60px;
        left: calc(50% - 37px);
      }
    }

    @media (min-width: $tablet-width) {
      padding: 158px 32px 60px;
      text-align: center;
    }

    @media (min-width: $desktop-width) {
      padding: 158px 65px 81px;
    }
  }

  &--house {
    &::before {
      width: 39px;
      height: 37px;
      background: url("../img/icon-house.svg") no-repeat;

      @media (min-width: $tablet-width) {
        width: 75px;
        height: 72px;
        background-size: 75px 72px;
      }
    }
  }

  &--food {
    padding-left: 50px;

    &::before {
      width: 40px;
      height: 35px;
      background: url("../img/icon-burger.svg") no-repeat;

      @media (min-width: $tablet-width) {
        width: 76px;
        height: 68px;
        background-size: 76px 68px;
      }
    }
  }

  &--souvenirs {
    @media (min-width: $tablet-width) {
      padding-top: 140px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 158px;
    }

    &::before {
      width: 32px;
      height: 38px;
      background: url("../img/icon-gift.svg") no-repeat;

      @media (min-width: $tablet-width) {
        width: 64px;
        height: 75px;
        background-size: 64px 75px;
      }
    }
  }

  &--reverse {
    @media (min-width: $tablet-width) {
      flex-direction: row-reverse;
    }
  }

  &--line {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 20px;
      height: 1px;
      width: calc(100% - 40px);
      background-color: $item-line-color;

      @media (min-width: $tablet-width) {
        content: none;
      }
    }
  }
}

.advantages__item-wrapper {
  display: flex;
  flex-direction: column;
  padding: 35px 19px 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
    flex: 0 1 33.33%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 49px;
    padding-bottom: 52px;
  }
}

.advantages__list-qualities {
  padding: 0 19px 50px 19px;
  list-style: none;
  background-color: $white-color;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
}

.advantages__title {
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 82px;
  }

  &--accent {
    color: $white-color;

    @media (min-width: $tablet-width) {
      padding: 40px 53px 0;
    }

    @media (min-width: $desktop-width) {
      padding: 0 124px;
    }
  }

  &--quality {
    padding-top: 8px;

    @media (min-width: $tablet-width) {
      padding-top: 0;
    }
  }
}

.advantages__number {
  text-transform: uppercase;
  padding-top: 11px;
}

.advantages__description {
  margin: 0;
  padding-top: 17px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
  }

  &--accent {
    @media (min-width: $tablet-width) {
      padding-left: 32px;
      padding-right: 32px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

.advantages__image {
  width: 100%;
  flex: 0 1 66.67%;
  display: block;
  max-height: 260px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    max-height: 256px;
  }
}

picture {
  flex-basis: 66.67%;
}
