.content__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: 1200px;
  }
}

.content__title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 25px;
  text-align: center;
}

.content__description {
  margin: 0 auto;
  max-width: 458px;
  padding: 0 20px 50px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0 95px 63px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 265px 65px;
  }
}

.content__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 33.333%);
  }

  &::before {
    content: "";
    position: absolute;
    top: -25px;
    height: 1px;
    width: 100%;
    background-color: $decor-color;
  }
}
