.content__title {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 25px;
  text-align: center;
}

.content__description {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0 95px 63px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 370px 65px;
  }
}

.content__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: 480px 347px 347px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 400px 267px;
  }
}
