.content__title {
  margin: 0;
  padding-top: 37px;
  padding-bottom: 25px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 66px;
    padding-bottom: 32px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.content__description {
  margin: 0 auto;
  max-width: 458px;
  padding: 0 0 62px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0 101px 81px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 377px 89px;
  }
}

.content__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }

  &::before {
    content: "";
    position: absolute;
    top: -25px;
    height: 1px;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: -40px;
    background-color: $decor-color;

    @media (min-width: $tablet-width) {
      content: none;
      padding: 0;
      margin: 0;
    }
  }
}
