.copyright {
  display: flex;
  justify-content: center;
}

.copyright__text {
  margin: 0;
  padding: 6px 12px 6px 0;
  text-transform: uppercase;
}

.copyright__link {
  display: block;
}

.copyright__link-icon {
  display: block;
  color: $black-color;

  &:hover {
    color: $primary-back-color;
  }

  &:active {
    color: $active-icon-color;
  }
}
