.field-group {
  border: none;
}

.field-group__title {
  padding-top: 24px;
  padding-bottom: 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 28px;
    background-color: $white-color;
  }

  &--decor {
    @media (min-width: $tablet-width) {
      padding-left: 60px;
      padding-right: 60px;
      max-width: 308px;
    }
  }
}

.field-group__wrap {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 86.5%;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &--contacts {
    position: relative;

    @media (min-width: $desktop-width) {
      max-width: 402px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      width: 58px;
      height: 58px;
      background: $input-decor-color url("../img/phone.svg") no-repeat center;
    }

    @media (min-width: $tablet-width) {
      margin-left: auto;
    }
  }

  &--email {
    &::after {
      background-image: url("../img/mail.svg");
    }
  }
}

.field-group__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 872px;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 36px;
    gap: 16px;
  }

  @media (min-width: $desktop-width) {
    padding: 17px 53px;
    gap: 28px;
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      padding: 0 84px;
      gap: 16px 32px;
    }

    @media (min-width: $desktop-width) {
      padding: 31px 44px;
      gap: 64px;
      align-items: center;
    }
  }
}

.field-group__item {
  position: relative;
  width: 280px;

  &:not(:last-child) {
    margin-bottom: 16px;

    @media (min-width: $tablet-width) {
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: max-content;
  }

  &--checkbox {
    width: 224px;

    @media (min-width: $desktop-width) {
      width: max-content;
    }
  }
}

.field-group__form-label {
  display: block;
  padding-left: 16px;
  text-transform: uppercase;
  color: $secondary-color;

  &--textarea {
    padding: 24px 0 20px;
    text-align: center;

    @media (min-width: $tablet-width) {
      padding: 0 60px 28px;
      max-width: 308px;
      margin: 0 auto;
      background-color: $white-color;
    }
  }
}

.field-group__label-list {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 62px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: none;
  color: $black-color;

  &::before {
    content: "";
    width: 46px;
    height: 46px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: $input-back-color;
    border-radius: 4px;
    z-index: 1;
  }

  &--radio::before {
    border-radius: 50%;
  }

  &--radio::after {
    content: "";
    width: 16px;
    height: 16px;
    position: absolute;
    left: 15px;
    top: 15px;
    opacity: 0;
    background-color: $secondary-color;
    border-radius: 50%;
    z-index: 2;
  }
}

.field-group__form-input {
  width: 100%;
  max-height: 58px;
  padding: 16px 74px 16px 16px;
  border: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: $black-color;
  background-color: $input-back-color;

  &--textarea {
    display: block;
    resize: none;
    max-height: 150px;
    margin-bottom: 32px;

    @media (min-width: $tablet-width) {
      max-height: 160px;
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
    }
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }
}

.field-group__input-checkbox:checked + .field-group__label-list::before {
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px;
}

.field-group__input-radio:checked + .field-group__label-list::after {
  opacity: 1;
}
