.intro__wrapper {
  //background: $intro-back-color url("../img/back-mobile.jpg") no-repeat top;
  background: $intro-back-color url("../img/background.jpg") no-repeat top;
  background-size: 902px 214px;
}

.intro__logo {
  display: block;
  margin: 0 auto;
  padding: 90px 0 85px;

  @media (min-width: $tablet-width) {
    padding: 78px 0 90px;
  }

  &--short {
    padding: 52px 0 67px;
    //background: $intro-back-color url("../img/catalog/back-desktop.jpg") no-repeat top;

    @media (min-width: $tablet-width) {
      padding: 95px 0 117px;
    }

    @media (min-width: $desktop-width) {
      padding: 101px 0 120px;
    }
  }
}
