.intro__wrapper {
  background:
    url("../img/intro-triangl.svg") no-repeat center,
    $intro-back-color url("../img/background.jpg") no-repeat 50% 0;
  background-size: cover;
}

.intro__logo {
  display: block;
  margin: 0 auto;
  padding: 90px 0 85px;

  @media (min-width: $tablet-width) {
    padding: 78px 0 90px;
  }

  &--short {
    padding: 52px 0 67px;

    @media (min-width: $tablet-width) {
      width: 457px;
      height: 78px;
      padding: 95px 0 117px;
    }

    @media (min-width: $desktop-width) {
      padding: 101px 0 120px;
    }
  }
}
