.intro__wrapper {
  height: 389px;
  width: 320px;
  margin: 0 auto;
  //background: $intro-back-color url("../img/back-mobile.jpg") no-repeat top;
  background: $intro-back-color url("../img/background.jpg") no-repeat top;
  background-size: 902px 214px;

  @media (min-width: $tablet-width) {
    height: 518px;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }

  &--short {
    height: 214px;

    @media (min-width: $tablet-width) {
      height: 518px;
    }
  }
}

.intro__logo {
  display: block;
  margin: 0 auto;
  padding: 90px 0 85px;

  &--short {
    padding: 52px 0 67px;
    //background: $intro-back-color url("../img/catalog/back-desktop.jpg") no-repeat top;
  }
}
