.location__wrapper {
  min-width: 320px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.location__map {
  display: block;
  width: 100%;
  background-image: url("../img/map-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
  }
}
