.main-footer {
  background-color: $white-color;
}

.main-footer__wrapper {
  padding: 29px 82px 29px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 37px;
  }
}

.main-footer__hashtag-link {
  display: block;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black-color;

  &:hover {
    color: $primary-back-color;
  }

  &:active {
    color: $active-icon-color;
  }
}

.main-footer__social {
  min-width: 156px;
  padding-top: 33px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-right: 8px;
  }
}

.main-footer__copyright {
  margin: 0;
}
