.main-footer__wrapper{
  width: 284px;
  text-align: center;
}

.main-footer__hashtag-link {
  display: block;
  padding-top: 38px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.main-footer__social {
  padding-top: 33px;
  padding-bottom: 40px;
}

.main-footer__copyright {
  margin: 0;
}
