.main-navigation {
  width: auto;
  min-width: 56px;
  background-color: $primary-back-color;
}

.main-navigation__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
}

.main-navigation__toggle {
  position: absolute;
  top: 17px;
  right: 16px;
  z-index: 2;
  width: 23px;
  height: 23px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__icon {
  fill: $white-color;

  &--closed {
    fill: $primary-back-color;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-navigation--closed .main-navigation__icon--opened {
  display: none;
}

.main-navigation--opened .main-navigation__icon--closed {
  display: none;
}

@media (max-width: $mobile-width-only) {
  .main-navigation--closed .main-navigation__item {
    display: none;
  }
}

.main-navigation--opened .main-navigation__wrapper {
  width: 320px;
}

.main-navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 690px;
    display: grid;
    grid-template-columns: repeat(5, 153px);
  }

  @media (min-width: $desktop-width) {
    width: 1038px;
    grid-template-columns: repeat(5, 240px);
  }
}

@media (min-width: $tablet-width) {
  .main-navigation__item {

    &:nth-child(3) {
      grid-column: -2/-3;
    }
  }
}

.main-navigation__link {
  display: block;
  padding: 17px 20px 12px;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $white-color;
  background-color: $primary-back-color;
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;

  @media (min-width: $tablet-width) {
    padding: 18px 0 17px;
    background: none;
    box-shadow: none;
    color: $black-color;
    font-size: 14px;
    line-height: 21px;
  }
}
