.main-footer__wrapper {
  padding-top: 38px;
  padding-bottom: 29px;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-left: 45px;
    padding-right: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 105px;
    padding-right: 120px;
  }
}

.main-footer__hashtag-link {
  display: block;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: $black-color;
}

.main-footer__social {
  min-width: 156px;
  padding-top: 33px;
  padding-bottom: 40px;
}

.main-footer__copyright {
  margin: 0;
}
