.reviews__wrapper {
  width: 280px;
}

.reviews__title {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 24px;
  text-align: center;
}

.reviews__description {
  margin: 0;
  padding-bottom: 28px;
  text-transform: uppercase;
  text-align: center;
}

.reviews__field-group {
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
}

.reviews__button {
  padding: 16px 49px;
}

.reviews__legend {
  margin: 0;
  padding-top: 3px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);
}
