.reviews__title {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 24px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 20px;
    font-size: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 117px;
    padding-bottom: 32px;
  }
}

.reviews__description {
  margin: 0 auto;
  padding: 0 calc((100% - 435px) / 2) 28px;
  max-width: 435px;
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 102px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 67px;
    line-height: 21px;
  }
}

.reviews__form {
  padding: 0 0 24px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: -40px;
    background-color: $decor-color;

    @media (min-width: $tablet-width) {
      content: none;
      padding: 0;
      margin: 0;
    }
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 494px 466px;
    padding: 0 120px 61px;
  }
}

.reviews__field-group {
  margin: 0;
  padding: 0 0 24px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 56px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-left: -40px;
    background-color: $decor-color;

    @media (min-width: $tablet-width) {
      content: none;
      padding: 0;
      margin: 0;
    }
  }

  &--decor {
    position: relative;

    &::after {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        top: -54px;
        right: 0;
        width: 1px;
        height: 100%;
        background-color: $line-color;
      }
    }
  }

  &--introduce {
    padding-bottom: 39px;

    @media (min-width: $tablet-width) {
      padding-bottom: 63px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 71px;
    }
  }

  &--contacts {
    padding-bottom: 34px;
  }

  &--row {
    position: relative;
    z-index: 1;

    &::before {
      @media (min-width: $tablet-width) {
        content: "";
        position: absolute;
        top: -40px;
        width: 100%;
        height: 1px;
        z-index: -1;
        background-color: $line-color;
      }
    }

    @media (min-width: $tablet-width) {
      grid-column: 1/3;
    }
  }

  &--sightseeing {
    @media (min-width: $tablet-width) {
      padding-bottom: 42px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 56px;
    }

    &::before {
      top: -54px;
    }
  }

  &--line {
    padding-bottom: 25px;

    @media (min-width: $tablet-width) {
      padding-bottom: 49px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 52px;
    }

    &::after {
      content: none;
    }

    &::before {
      top: 12px;
    }
  }
}

.reviews__wrap {
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    grid-column: 1/3;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.reviews__button {
  display: block;
  width: 100%;
  max-width: 324px;
  padding: 18px 49px 13px;

  @media (min-width: $desktop-width) {
    max-width: 384px;
    padding: 15px 101px 16px;
  }
}

.reviews__legend {
  margin: 0;
  padding-top: 3px;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
  color: rgba(51, 51, 51, 0.6);

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    padding: 23px 0 14px;
    font-size: 14px;
    color: $secondary-color;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 0 17px;
  }
}
