.search__wrapper {
  padding: 40px 0 49px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 61px 0 58px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 65px;
  }
}

.search__title {
  margin: 0;
  padding-bottom: 21px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-bottom: 32px;
  }
}

.search__description {
  margin: 0;
  max-width: 435px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 32px;
  text-transform: uppercase;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    width: 435px;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 46px;
  }
}

.search__button {
  display: block;
  min-width: 284px;
  max-width: 458px;
  padding: 16px 45px;

  @media (min-width: $tablet-width) {
    width: 458px;
  }
}
