.search__wrapper {
  width: 284px;
  padding-top: 38px;
  padding-bottom: 49px;
  text-align: center;
}

.search__title {
  margin: 0;
  padding-bottom: 18px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.search__description {
  margin: 0;
  padding-bottom: 32px;
  text-transform: uppercase;
  color: $secondary-color;
}

.search__button {
  display: block;
  padding: 16px 49px;
}
