.video__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 17px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 66px;
    padding-bottom: 84px;
  }
}

.video__title {
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.video__description {
  margin: 0;
  padding: 28px 20px 38px;
  text-transform: uppercase;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    padding: 31px calc((100% - 445px) / 2) 88px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.video__image-container {
  position: relative;
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 800px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 200px;
  }
}

.video__content-image {
  display: block;
  width: 100%;
  max-height: 177px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    max-height: 500px;
  }
}

.video__button {
  position: absolute;
  left: calc(50% - 16px);
  bottom: calc(50% - 33px);
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    left: calc(50% - 24px);
    bottom: calc(50% - 32px);
  }
}

.video__button-icon {
  fill: $white-color;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
