.container {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 648px;
    padding: 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px;
    width: 960px;
  }
}
