$primary-back-color: #81b3d2;
$input-back-color: #f2f2f2;
$white-color: #ffffff;
$black-color: #000000;
$advantages-color: #eeeeee;
$secondary-color: #333333;
$intro-back-color: #3f5e72;
$menu-current-color: #766357;
$hover-color: #669ec0;
$active-color: #5496bd;
$decor-color: #e5e5e5;
$input-decor-color: #e6e6e6;
$line-color: #dbdbdb;
$active-icon-color: #b3b3b3;
$active-input-color: #d5d5d5;
$item-line-color: #d6d6d6;

// Viewports

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
